@charset "UTF-8";

*{
  box-sizing: border-box;
}

body
{
  margin: 0px;
  /*width: 100%;*/
  border: 1px solid rgb(234, 0, 255);

  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  /*background-image: url(images/bg4.gif);*/
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  /*background-color: rgb(255, 0, 221);*/
  background-color: black;
  
}



#particles-js 
{
	height: 100vh; 
	width: 100%;
  position: fixed;
  z-index: -1;
}

#corpo1
{
    margin: 0px;
}


.navbar
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(214, 214, 214, 0.048);
    width: 100%;
}

.logo img
{
   
  width: 4.2rem;
  margin: .5rem;
  margin-right: 1.5rem;
  
}

.navbar-links 
{
  
  height: 100%;
  margin-bottom: 0rem;
}

.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
    
}

.navbar-links li
{
  
  list-style-type: none;
}

.navbar-links li a
{
  
  text-decoration: none;
  color: white;
  padding: 2.06rem;
  display: block;
  font-size: 1.3em;
  font-family:'Cinzel', serif, 'Times New Roman';
}      


      .navbar-links li:hover
      {
        background-color: rgba(214, 214, 214, 0.185);
        color: rgb(255, 255, 255);
        box-shadow:0 3px 10px 0 rgb(0, 0, 0);
        box-shadow:0 3px 10px 0 rgb(0, 0, 0);
        text-shadow:0px 0px 5px rgb(0, 0, 0);
        
        
      }


.botaomenu{
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}


.botaomenu .bar
{

  height: 2.7px;
  width: 26px;
  background-color: rgba(214, 214, 214, 0.911);
  border-radius: 10px;

}

.botaomenu #bar1
{
  opacity: 90%;
}

.botaomenu #bar2
{
  opacity: 65%;
}

.botaomenu #bar3
{
  opacity: 40%;
}


@media (max-width: 400px)
{
  .apresentacao #normaltext
    {
      font-size:1.2em;
    }

    .animaaudiotb #animaaudio
    {
      font-size: 1.5em;
    }

    .bloco-coverphoto #coverphoto
    {
      width: 60%;
    }

    pa


}

@media (min-width: 400px) and (max-width: 767px)
{
  .apresentacao #normaltext
    {
      font-size:1.2em;
    }

    .animaaudiotb #animaaudio
    {
      font-size: 2em;
    }

    .bloco-coverphoto #coverphoto
    {
      width: 55%;
    }

    .footerblocos .contatos ul li img
    {
      width: 50%
    }

}


@media (min-width: 767px) and (max-width: 900px)
{
  .apresentacao #normaltext
  {
    width: 85%;
  }

  .animaaudiotb #animaaudio
  {
    font-size: 2.8em;
  }

  .bloco-coverphoto #coverphoto
  {
    width: 50%;
  }

}


@media (max-width: 600px)
{

  .logo img
  {
     
    width: 4.0rem;
    margin: .5rem;
    margin-left: 1.25rem;
    margin-right: 12em;
  }

    .navbar
    {
      flex-direction: column;
      align-items: flex-start;
    }

    .botaomenu
    {
      display: flex;
    }

    .navbar-links 
    {
        display: none;
        width: 100%;
    }

    .navbar-links ul
    {
      width: 100%;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.048);
    }

    .navbar-links ul li
    {
      text-align: center;
      border-top: 1px rgba(255, 255, 255, 0.425) outset;
      border-bottom: 1px rgba(255, 255, 255, 0.418) outset;
    }

    .navbar-links ul li a
    {
      padding: .5rem 1rem;
    }

    .navbar-links.active
    {
      display: flex;
    }
    
 
  }


@media (min-width: 900px) and (max-width: 1100px)
{
  .animaaudiotb #animaaudio
    {
      font-size: 3.4em;
    }

}

@media (min-width: 900px) and (max-width: 1400px)
{
  .animaaudiotb #animaaudio
    {
      font-size: 3.4em;
    }

}

@media (min-width: 1400px)
{
  .animaaudiotb #animaaudio
    {
      font-size: 3.4em;
    }

}
      .bloco1logo{
     /*   
        
        width: 45%;*/
        opacity:100;
        width: 100vw;
        
     
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
            
            position: fixed;
      }


      .bloco-coverphoto
      {    
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            
      }
      #coverphoto
      {    
            width: 35%;
            margin-left: 3.5%;
      }


      .secaudio{

        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        
        max-width: 850px;
    
  }

      .audio{

            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            margin-top: 4%;
            
        
      }

      .headphonetb
      {
        /*margin-left: 400px;*/
      
        width: 35%;
            display: flex;
            flex-direction: row;
            
            
      }
      #headphone
      {
        /*margin-left: 400px;*/
        width: 65%;
      }

      .animaaudiotb
      {
        width: 65%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      #animaaudio
      {
            opacity: 100%;
            
            font-size: 3.3em;
            width: 100%;
            color:white;
            font-family: 'Bebas Neue', cursive, 'Times New Roman';
            text-shadow:  rgb(139, 139, 139) 0.1rem 0.07rem 0.1rem;
      }

      #animaaudio:hover
      {
     
            color:rgb(255, 255, 255);
            text-shadow:  rgb(1, 255, 56) 0.1rem 0.05rem 0.1rem;
            font-family: 'Bebas Neue', cursive, 'Times New Roman';
            
            
      }

      .apresentacao
      {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }

      #normaltext
      {
          text-align: justify;
          /*margin-left: 410px;*/
          font-size: 1.3em;
          line-height: 150%;
          width: 85%;
          max-width: 850px;
          /*padding: 1.3rem;*/
          padding-top: 1.3rem;
          padding-bottom: 1.3rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          color: white;
          font-family:'Slabo 27px', 'Times New Roman';
          border: 1px rgb(210, 97, 255) groove;
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.034);
      }

      #normaltext:hover
      {
        border: 1px rgb(0, 255, 255) groove;
      }

      

      .botaojogar
      {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
      }

      #borda2{
        
       
        border: 1.5px rgb(255, 92, 255) solid;
        border-radius: 4px;
        
      }

      #jogarbt{
        
        color:rgb(0, 255, 34);
        text-align: center;
        padding: 5px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 3px;
        font-size: 1.5em;
        width: 200px;
        font-family: 'Staatliches', 'Times New Roman', Times, serif;
        font-weight: bold;
        border: 2px rgba(255, 92, 255, 0.822) solid;
        background-color: rgba(255, 255, 255, 0.13);
        text-shadow:  rgb(0, 0, 0) 0.1rem 0.03rem 0.1rem;
        
        
      }

      #borda2:hover
      {
        border: 1.5px rgb(144, 255, 92) dashed;
      }

      footer
      {
        background-color: rgba(255, 255, 255, 0.048);;
      }

      #textfooter
      {
        color:white;
        text-align: center;
        font-style: italic;
        font-family: 'Dancing Script', cursive;
        font-size: 1.2em;
        padding: 4%;
        padding-left: 10%;
        padding-right: 10%;
      }

      .footerblocos
      {

        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        margin-top: 5%;
        
        
      }

      .footerblocos .contatos
      {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 1%;
      }

      .footerblocos .contatos ul
      {
        margin: 0;
        padding: 0;
        display: flex;
        
      }

      .footerblocos .contatos ul li
      {

        justify-content: center;
        align-items: center;

      }

      .footerblocos .contatos ul li img
      {
        width: 20%
      }