@charset "UTF-8";

*{
  box-sizing: border-box;
}

body
{
  margin: 0px;
  /*width: 100%;*/
  border: 1px solid rgb(234, 0, 255);

  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  background-image: url(images/bg.gif);
  /*background-repeat: no-repeat;*/
  background-size: 100%;
  /*background-color: rgb(255, 0, 221);*/


}

#corpo1
{
    margin: 0px;
}


.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: none;
}

.logo img
{
  width: 4.5rem;
  margin: .5rem;
  margin-left: 1.25rem;
}

.navbar-links 
{
  height: 100%;
}

.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li
{
  list-style-type: none;
}

.navbar-links li a
{
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-family:'Cinzel', serif, 'Times New Roman';
}      


      .navbar-links li:hover
      {
        background-color: rgba(214, 214, 214, 0.267);
        color: rgb(255, 255, 255);
        box-shadow:0 3px 10px 0 rgb(0, 0, 0);
        box-shadow:0 3px 10px 0 rgb(0, 0, 0);
        text-shadow:0px 0px 5px rgb(0, 0, 0);
        
        
      }


.botaomenu{
  position: absolute;
  top: 1.2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}


.botaomenu .bar
{

  height: 3px;
  width: 30px;
  background-color: rgba(214, 214, 214, 0.911);
  border-radius: 10px;

}



@media (max-width: 800px)
{

  @media (orientation: portrait)
  {
  

  .navbar
  {
    flex-direction: column;
    align-items: flex-start;
  }
    .botaomenu
    {
      display: flex;
    }


  .navbar-links {
      display: none;
      width: 100%;
  }


    .navbar-links ul
    {
      width: 100%;
      flex-direction: column;
    }

    .navbar-links ul li
    {
      text-align: center;
    }

    .navbar-links ul li a
    {
      padding: .5rem 1rem;
    }

    .navbar-links.active
    {
      display: flex;
    }

  }

}

      .bloco1logo{
     /*   
        
        width: 45%;*/
        opacity:100;
        width: 100vw;
        
     
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
            
            position: fixed;
      }

      #title-main
      {

            opacity:100;
            
            
           
            width: 375px;

      }

      .audio{
        display: grid;
        grid-template-columns: 300px 700px 300px 500px;

        
      }

      #headphone
      {
        /*margin-left: 400px;*/
        width: 200px;
      }

      #animaaudio
      {
            opacity: 100%;
            /*margin-left: 350px;*/
            margin-top: 90px;
            font-size: 50px;
            color:white;
            font-family: 'Times New Roman', Times, serif;
      }

      #animaaudio:hover
      {
     
            color:rgb(255, 255, 255);
            text-shadow:  rgb(255, 82, 154) 0.1em 0.1em 0.1em;
            font-family: 'Times New Roman', Times, serif;
            
            
      }

      #normaltext
      {
          text-align: justify;
          /*margin-left: 410px;*/
          font-size: 20px;
          line-height: 150%;
          width: 700px;
          color: white;
          font-family:'Shadows Into Light';
      }

      footer
      {
        background-color: rgba(214, 214, 214, 0.267);
      }

      #textfooter
      {
        color:white;
        text-align: center;
        font-style: italic;
        font-family: 'Dancing Script', cursive;
        font-size: 20px;
      }

      #jogarbt{
        margin-left: 35%;
        text-align: center;
        padding: 5px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 3px;
        font-size: 18px;
        width: 200px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        border: 3px rgb(255, 92, 255) solid;
        background-color: rgba(255, 255, 255, 0.76);
      }

      #jogarbt:hover{

        border: 3px rgb(32, 222, 255) solid;

      }
      