@charset "UTF-8";

/* MEDIA QUERIES QUE AJUDARAM NO AJUSTE DE ELEMENTOS DA PÁGINA: */

@media (max-width: 200px)
{
  .titulo1block #title1
  {
    font-size: 3em !important;
  }

  .apresentacao #normaltext
  {
    font-size:1.1em;
  }

  .animaaudiotb #animaaudio
  {
    font-size: 1.3em;
  }

  .footerblocos
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
    
  .footerblocos .infos .redessociais ul li img
  {
    width: 20%;
    padding-top: 3%;
  }

  .footerblocos .infos .redessociais ul
  {
    display: flex;
    flex-wrap: wrap;
  }

  .footerblocos .infos .contatos
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .footerblocos .infos .contatos
  {
    font-size: 0.7em;
  }

  .infofinal
  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.9em;
  }
  .titulo1block #title1
  {
    font-size: 2.8em !important;
  }
.botoesato-bloco
{
  display: flex;

  flex-direction: column;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
 
}

.containerHT .HiddenText
{
  font-size: .9em;
  padding: 5%;
}
.devapresentacao
{
  flex-wrap: wrap;
}

.devapresentacao .fotoapresentacao img
{
  width: 100%;
}

}




@media (max-width: 400px) and (min-width: 200px)
{
  .roteiro #normaltext
  {
    font-size:1.2em;
  }

  .animaaudiotb #animaaudio
  {
    font-size: 1.5em;
  }

  .bloco-coverphoto #coverphoto
  {
    width: 60%;
  }

  .footerblocos
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
    
  .footerblocos .infos .redessociais ul li img
  {
    width: 50%;
  }

  .footerblocos .infos .contatos
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .titulo1block #title1
  {
    font-size: 3.8em !important;
  }

  .botoesato-bloco
{
  display: flex;

  flex-direction: column;
  justify-content: center;
  width: 75%;
  flex-wrap: wrap;
 
}

.containerHT .HiddenText
{
  font-size: 1.3em;
  padding: 5%;
}

.devapresentacao .fotoapresentacao img
{
  width: 100%;
}

}


/* REGRA EXEMPLO: SE O DISPOSITIVO/MEIO TIVER AO NENOS 400PX >E<
NO MÁXIMO 767PX DE RESOLUÇÃO, DEFINA AS SEGUINTES CONFIGRAÇÕES PARA
OS SEGUINTES ELEMENTOS. */

@media (min-width: 400px) and (max-width: 767px)
{
  .roteiro #normaltext
  {
    font-size:1.2em;
  }

  .animaaudiotb #animaaudio
  {
    font-size: 2em;
  }

  .bloco-coverphoto #coverphoto
  {
    width: 55%;
  }

  .footerblocos .infos .redessociais ul li img
  {
    width: 38%;
  }
    
  .footerblocos
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .titulo1block #title1
  {
    font-size: 4.8em !important;
  }

}

@media (min-width: 200px) and (max-width: 550px)
{
  .devapresentacao
  {
    flex-wrap: wrap;
  }
}



@media (min-width: 767px) and (max-width: 900px)
{
  .roteiro #normaltext
  {
    width: 85%;
  }

  .animaaudiotb #animaaudio
  {
    font-size: 2.8em;
  }

  .bloco-coverphoto #coverphoto
  {
    width: 50%;
  }

  .footerblocos .infos .redessociais ul li img
  {
    width: 30%;
  }

  .footerblocos
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .titulo1block #title1
  {
    font-size: 6.5em !important;
  }

}


@media (max-width: 600px)
{

  .logo img
  {
    width: 4.0rem;
    margin: .5rem;
    margin-left: 1.25rem;
    margin-right: 12em;
  }

  .navbar
  {
    flex-direction: column;
    align-items: flex-start;
  }

  .botaomenu
  {
    display: flex;
  }

  .navbar-links 
  {
      display: none;
      width: 100%;
  }

  .navbar-links ul
  {
    width: 100%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.048);
  }

  .navbar-links ul li
  {
    text-align: center;
    border-top: 1px rgba(255, 255, 255, 0.425) outset;
    border-bottom: 1px rgba(255, 255, 255, 0.418) outset;
  }

  .navbar-links ul li a
  {
    padding: .5rem 1rem;
  }

  .navbar-links.active
  {
    display: flex;
  }

  .footerblocos .infos .contatos
  {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

}


@media (min-width: 900px) and (max-width: 1100px)
{
  .animaaudiotb #animaaudio
    {
      font-size: 3.4em;
    }

    .titulo1block #title1
    {
      font-size: 7.0em !important;
    }

}

@media (min-width: 900px) and (max-width: 1400px)
{
  .animaaudiotb #animaaudio
    {
      font-size: 3.4em;
    }

    .titulo1block #title1
    {
      font-size: 7.5em !important;
    }
}

@media (min-width: 1400px)
{
  .animaaudiotb #animaaudio
    {
      font-size: 3.4em;
    }

}

*
{
  box-sizing: border-box;
}

/* CONFIGURAÇÕES GERAIS DO BODY */

body
{
  margin: 0px;
  border: 1px solid rgb(234, 0, 255);
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  background-color: black;
  min-width: 150px;
}

/* CONFIGURAÇÃO BÁSICA DO BACKGROUND */

#particles-js 
{
	height: 100vh; 
	width: 100%;
  position: fixed;
  z-index: -1;
}

/* CONFIGURAÇÕES DA LOGO QUE APARECE NA NAVBAR */

.logo img
{
  width: 4.2rem;
  margin: .5rem;
  margin-right: 1.5rem;
}

/*CONFIGURAÇÕES DA NAVBAR: */

.navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(214, 214, 214, 0.048);
    width: 100%;
}

.navbar-links 
{
  height: 100%;
  margin-bottom: 0rem;
}

.navbar-links ul
{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li
{
  list-style-type: none;
}

.navbar-links li a
{
  text-decoration: none;
  color: white;
  padding: 2.06rem;
  display: block;
  font-size: 1.3em;
  font-family:'Cinzel', serif, 'Times New Roman';
}      


.navbar-links li:hover
{
  background-color: rgba(214, 214, 214, 0.185);
  color: rgb(255, 255, 255);
  box-shadow:0 3px 10px 0 rgb(0, 0, 0);
  box-shadow:0 3px 10px 0 rgb(0, 0, 0);
  text-shadow:0px 0px 5px rgb(0, 0, 0);
}

/* CONFIGURAÇÃO DA NAVBAR MOBILE: */

.botaomenu{
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.botaomenu .bar
{
  height: 2.7px;
  width: 26px;
  background-color: rgba(214, 214, 214, 0.911);
  border-radius: 10px;
}

.botaomenu #bar1
{
  opacity: 90%;
}

.botaomenu #bar2
{
  opacity: 65%;
}

.botaomenu #bar3
{
  opacity: 40%;
}


.botoesato-bloco
{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding-bottom: 5%;
 
}

.botoesato-bloco #atobt
{
  text-decoration: none;
  color:rgb(0, 255, 34);
  text-align: center;
  border-radius: 3px;
  font-size: 2em;

  font-family: 'Staatliches', 'Times New Roman', Times, serif;
  font-weight: bold;
  border: 1px rgba(255, 92, 255, 0.822) solid;
  background-color: rgba(255, 255, 255, 0.13);
  text-shadow:  rgb(0, 0, 0) 0.1rem 0.03rem 0.1rem;
}

.botoesato-bloco #atobt:hover
{
  border: 1px rgba(0, 255, 34, 0.822) dashed;
  color:rgba(255, 92, 255, 0.822);
}

/* AJUSTES DO TITULO DA PAGINA */

.titulo1block
{
  width: 100%;
  display: block;
}

.titulo1block #title1
{
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 8em;
  font-weight: normal;
}

/* AJUSTES DO TEXTO */

.containerB1
{
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerHT
{
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.HiddenText
{
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.7em;
  font-family:'Cinzel', serif, 'Times New Roman';
  transition: color 5s ease;
}

.HiddenText:hover
{
  color: rgb(255, 255, 255); 
  transition-duration: 3.5s; 
}

.roteiro
{
  border: 1px rgb(210, 97, 255) groove;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.034);
  max-width: 850px;
  /*padding: 1.3rem;*/
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-left: 3%;
  padding-right: 4%;
  width: 85%;
}

#subtitle1NT
{
  color: white;
  text-align: center;
  font-size: 2em;
  font-family:'Cinzel', serif, 'Times New Roman';
}

#subtitle2NT
{
  color: white;
  text-transform: uppercase;
}

.markersubt2NT
{
  background-color: rgba(0, 217, 255, 0.322);
}

.markersubt2NT:hover
{
  background-color: rgba(195, 0, 255, 0.267);
}

#normaltext
{
  
  text-align: justify;
  font-size: 1.3em;
  line-height: 150%;
  color: white;
  font-family:'Slabo 27px', 'Times New Roman';
  margin-bottom: 1.5em;
}

.devapresentacao
{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fotoapresentacao
{
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.redessociaisdev
{
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1%;

}

.redessociaisdev ul
{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.redessociaisdev ul li
{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.redessociaisdev ul li img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.redessociaisdev ul li img a
{
    text-decoration: none;
}

.fotoapresentacao img
{
    width: 35%;
}

.textapresentacao
{
    width: 65%;
}



#linkNT
{
  text-decoration: none;
  color: rgb(71, 233, 66);
}

#linkNT:hover
{
  text-decoration: none;
  color: rgb(212, 0, 255);
}

.roteiro ul
{
  padding: 0;
}

.roteiro ul li
{
  text-align: justify;
  font-size: 1.3em;
  line-height: 150%;
  color: white;
  font-family:'Times New Roman';
  list-style: none;
  
}



.roteiro ul li ul li
{
  font-size: 1em;
  padding-right: 10%;
  padding-bottom: 1.5%;
  padding-top: 1%;
  list-style: none;
}

.roteiro:hover
{
  border: 1px rgb(0, 255, 255) groove;
}



/* ----- FOOTER ----- */

/* GERAL */

footer
{
  background-color: rgba(255, 255, 255, 0.089);
  padding-bottom: 1%;
}

.subtitlefooter
{
  color:rgb(223, 220, 45);
  text-align: center;
  font-style: italic;
  font-family: 'Cinzel', serif, 'Times New Roman';
  font-size: 1.2em;
  padding: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

/* CONTAINER 1 DE DIVISÃO DO FOOTER */

.footerblocos
{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

/* AJUSTES DO TEXTO DE CITAÇÃO DO FOOTER */

#textfooter1 p
{
  color:white;
  text-align: center;
  font-style: italic;
  font-family: 'Cinzel', serif, 'Times New Roman';
  font-size: 1.2em;
  padding: 4%;
  padding-left: 10%;
  padding-right: 10%;
  transition: width 0.2s ease; 
}

#textfooter1
{
  width: 100%;
}

.marca:hover
{
  background-color: rgba(184, 60, 255, 0.384); 
  transition-duration: 3.5s; 
  color: rgb(0, 247, 255);
}

/* AJUSTES DOS ICONES DE REDES SOCIAIS  */

.footerblocos .redessociais
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1%;
}

.footerblocos .redessociais ul
{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerblocos .redessociais ul li
{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.footerblocos .redessociais ul li img
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.footerblocos .redessociais ul li a
{
  text-decoration: none;
}

/* AJUSTE DAS INFORMAÇÕES DE CONTATO  */

.contatos
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contatos h3
{
  color: white;
  font-size: 1.2em;
  font-family: 'Cinzel', serif, 'Times New Roman';
  margin-right: 2%;
}

#email1cont
{
  padding: 2%;
}

#email1cont p
{
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman';
  font-style: italic;
}

#email2cont
{
  padding: 2%;
}

#email2cont p
{
  color: white;
  font-size: 1.5em;
  font-family: 'Times New Roman';
  font-style: italic;
}

/* AJUSTES DOS LINKS E INFORMAÇÕES FINAIS DO RODAPÉ  */

.infofinal 
{
  padding-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#infolink1
{
  padding: 1.5%;
}

#infolink1 a
{
  color: white;
  text-decoration: none;
}

#infolink2
{
  padding: 1.5%;
}

#infolink2 a
{
  color: white;
  text-decoration: none;
}

#infolink3
{
  padding: 1.5%;
}

#infolink3 a
{
  color: white;
  text-decoration: none;

}

